# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/

# Security & Private Keystores
key.properties
*.keystore
*.jks
local.properties
.env
.env.*

# Android build outputs
android/.gradle/
android/app/build/
android/build/
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication related
app.*.symbols
app.*.map.json
